{% extends 'admin/master.html'%}

{% block body%}


{% if current_user.is_authenticated and current_user.is_admin()%}
    <h2>Open science administration panel</h2>
    <br><br>
    <h4>Scheduler</h4>
    <br>

    <!-- TODO: fix scheduler import error in main.routes.py -->
    <!-- "TODO^" in code below because Jinja also interprets comments -->
    <!-- <a href= TODO^ url_for('main.start_scheduler')}}">
        <button type="button" class="btn">Start scheduler</button>
    </a>
    <br><br>
    <a href= TODO^ url_for('main.force_daily_jobs')}}">
    <button type="button" class="btn">Force daily jobs</button>
    </a> -->

    <br><br>
    <h4>Maintenance mode</h4>
    {% if config['MAINTENANCE_MODE'] %}
        <a href="{{url_for('main.disable_maintenance_mode')}}">
            <button type="button" class="btn">Disable Maintenance Mode</button>
        </a>
    {% else %}
        <a href="{{url_for('main.enable_maintenance_mode')}}">
            <button type="button" class="btn">Enable Maintenance Mode</button>
        </a>
    {% endif %}    

    <br><br>
    <h4>Readonly mode</h4>
    {% if config['READONLY_MODE'] %}
        <a href="{{url_for('main.disable_readonly_mode')}}">
            <button type="button" class="btn">Disable Readonly Mode</button>
        </a>
    {% else %}
        <a href="{{url_for('main.enable_readonly_mode')}}">
            <button type="button" class="btn">Enable Readonly Mode</button>
        </a>
    {% endif %}  

{% else %}
    <h3>You must be an administrator to access this page</h3>
{%endif%}


{% endblock %}