{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" href="{{url_for('static', filename='styles/notification.css')}}" />
{% endblock %}

{% block content %}

<div class='notifications-wrapper'>
    <h2>Notifications</h2>
    
        <a class="link-button  {% if unread != 'True' %}pressed{% endif %}"
        href="{{ url_for('notifications_page', page=1, unread='False') }}">ALL</a>
        
        <a class="link-button  {% if unread == 'True' %}pressed{% endif %}"
        href="{{ url_for('notifications_page', page=1, unread='True') }}">UNREAD</a>

        <br><br>
        
        {% for notification in results.items%}
            {% with item=notification%}
                {% include 'notification/notification_item.html' %}
                <br>
            {% endwith %}
        {%endfor%}
    
        {% if results.pages > 1 %}
            <div >
                {% if results.page != 1 %}
                <a href="{{ url_for('notifications_page', page=results.prev_num, unread=unread) }}"
                    class="page-number">
                    &laquo;
                </a>
                {% endif %}
                
                {% for page_num in results.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                    {% if page_num %}
                        {% if results.page == page_num %}
                        <a href="{{ url_for('notifications_page', page=page_num, unread=unread ) }}"
                        class="page-number pressed">
                            {{ page_num }}
                        </a>
                        {% else %}
                        <a href="{{ url_for('notifications_page', page=page_num, unread=unread) }}"
                        class="page-number">
                            {{ page_num }}
                        </a>
                        {% endif %}
                    {% else %}
                        ...
                    {% endif %}
                {% endfor %}
            
                {% if results.page != results.pages %}
                <a href="{{ url_for('notifications_page', page=results.next_num, unread=unread ) }}"
                    class="page-number">
                    &raquo;
                </a>
                {% endif %}
            </div>
            
            <p>
            Showing page {{ results.page }} of {{ results.pages }}
            </p>
        {% endif %}

</div>

{% endblock %}