{% extends 'base.html' %}

{%block styles%}
<style>
    .my-divider {
        padding: 20px;
        margin: 20px 0;
        border: 1px solid #eee;
        border-left-width: 5px;
        border-radius: 3px;
    }

    .left-border-info {
        border-left-color: #1b809e;
    }
</style>
{%endblock%}

{% block content %}

<a href="{{ url_for('search.search_papers_page',search_text='')}}">Simple search</a>

<div class="my-divider left-border-info">
    <h3>Papers</h3>
    {% include 'search/advanced_search_paper_form.html' %}
</div>
<div class="my-divider left-border-info">
    <h3>Users</h3>
    {% include 'search/advanced_search_user_form.html' %}
</div>
<div class="my-divider left-border-info">
    <h3>Tags</h3>
    {% include 'search/advanced_search_tag_form.html' %}
</div>
{% endblock %}