{% extends 'base.html' %}
{% block content %}

<h2>Papers</h2>

{% if papers.items%}

    <a class="link-button  {% if order_by == 'newest' %}pressed{% endif %}"
    href="{{ url_for('search.advanced_search_papers_page', page=1, search_data=search_data, order_by='newest') }}">NEWEST</a>
    
    <a class="link-button  {% if order_by == 'oldest' %}pressed{% endif %}"
    href="{{ url_for('search.advanced_search_papers_page', page=1, search_data=search_data, order_by='oldest') }}">OLDEST</a>
    
    {% with route_name="search.advanced_search_papers_page" , results=papers, page=page, search_data=search_data, order_by=order_by %}
    {% include 'search/advanced_search_result_list.html' %}
    {% endwith %}
{% else %}
    <div>No results found</div>
{% endif %}


{% endblock %}