<div>
    <form  method="GET">
        {{ paper_form.title.label() }}
        {{ paper_form.title() }}
        <br>
        {{ paper_form.text.label()}}
        {{ paper_form.text()}}
        <br>
        {{ paper_form.author.label()}}
        {{ paper_form.author()}}
        <br>
        {{ paper_form.tag.label()}}
        {{ paper_form.tag()}}
        <br>
        {{ paper_form.per_page.label()}}
        {{ paper_form.per_page()}}
        <br>
        {{ paper_form.show_all.label()}}
        {{ paper_form.show_all() }}
        <br>
        {{ paper_form.submit_paper() }}
    </form>
</div>