<li class="">
    <article>
        <div class = "">
            <div class="">
                
                <p><strong>Paper title: </strong>
                    <a class="" href="{{ url_for('article',id=item.related_paper_version)}}">
                        {{item.get_paper_title()}}
                    </a>
                </p>
              
                <p><strong>Date: </strong> {{item.publication_datetime.strftime("%Y-%m-%d %H:%M")}}</p>
                <p><strong>Review's score: </strong> {{item.review_score}}</p>
            </div>
        </div>
    </article>
</li>