{% from "helpers/form_helper.html" import render_register_field, render_boolean_field%}

{% extends 'base.html' %}

{% block content %}

<div class="profile-edit-wrapper">
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <h1>Creating your account</h1>
        <p>(You will also be able to edit these fields later)</p>

        
        <div class="double-input-wrapper">
            {{render_register_field(form.first_name,"First name")}}
            {{render_register_field(form.second_name,"Last name")}}
        </div>
       
  
        {{render_register_field(form.email,"Email address","(preferrably institutional email address - this may help with endorsement if you are a researcher.\nWill not be displayed publicly except from \"Verified email at [yourdomain]\" unless you are indicated as the corresponding author of some paper.)")}}
    
  
            {{render_register_field(form.password,"Password","(Must contain at least: 8 characters, one lowarcase character, one uppercase character, one digit and one special character)")}}
            {{render_register_field(form.password_confirm,"Confirm password")}}
 
    
            
            <div class="profile-edit-input-wrapper">
                <div class="label-wrapper">{{ form.notifications_frequency.label() }}</div>
                <div class="label-wrapper">
                    When others post messages under my papers, I want to be notified every:
                </div>
                <div class="input-wrapper">{{ form.notifications_frequency()}} </div>  
                <div class="label-wrapper">
                    (Note: you will always be notified immediately when your paper is reviewed)
                </div>

                <div> {{ form.privacy_policy }} {{ form.privacy_policy.label}} <a href="{{ url_for('main.privacy_page') }}">Privacy Policy</a> </div>
            </div> 
    
        <br>
        {{ form.recaptcha }}
        <br>

        <div class="buttons-wrapper">
            {{ form.submit(class="large-button main-button")}}
        </div>  

    </form>
    <br>
    Already have an account? <a href="{{url_for('auth.login_page')}}">Sign&nbsp;in</a>
</div>

{% endblock %}
