{% extends "base.html" %}

{% from "helpers/form_helper.html" import render_edit_profile_field %}

{% block content %}

{% with pressed='password_change' %}
    {% include 'user/edit_profile_tab.html' %}
{% endwith %}
<br><br>

<div class="profile-edit-wrapper">
    <form method="POST">
        {{ form.hidden_tag() }}
        <h2>
            Set new password
        </h2>

        <div class="double-input-wrapper">
            {{ render_edit_profile_field(form.password,"New password") }}
        </div>

        <div class="double-input-wrapper">
            {{ render_edit_profile_field(form.password_confirm,"Confirm Password") }}
        </div>

        <br>
        
        <div class="buttons-wrapper">
            {{ form.submit(class="large-button main-button")}}
        </div>

    </form>
</div>

{% endblock %}