<h3>Hello from open science!</h3>
<div>
You have a new review request for consideration.
</div>
<br>
<h4>Paper's abstract:</h4>
<div>
    {{data['abstract']}}
</div>
<br>
<div>
    <h4>Please visit our site for more details:</h4>
    <a class="btn" href="{{url_for('review_request_page', request_id=data['request_id'], _external=True)}}" >Request details</a>
</div>

<!-- <a href="{{ url_for('profile_page',user_id=data['user_id'], _external=True) }}">{{ url_for('profile_page',user_id=data['user_id'], _external=True) }}</a> -->
