{% extends 'base.html' %}
{% from "helpers/form_helper.html" import render_register_field, render_boolean_field %}

{% block styles %}
<style>
    .hidden {
        display: none;
    }

    .visible {
        display: inline-block;
    }
</style>
{% endblock %}

{% block scripts %}
<script>
    window.onload = () => {
        $("#confidence_level").prop('disabled', true);
        $("#review_declaration").on('change', function() {
            console.log($(this).val());
            if($(this).is(":checked")){
                $('#confidence_level').prop('disabled', false);
            } else {
                $("#confidence_level").prop('disabled', true);
            }
        })
        $("#anonymity_declaration").prop('disabled', true);
        $("#anonymousFile").on('input', function(){
            if($(this).get(0).files.length == 0){
                $("#anonymity_declaration").prop('disabled', true);
            }
            else {
                $("#anonymity_declaration").prop('disabled', false);
            }
            // $("#anonymity_declaration").prop('enabled', 'true');
        })
        const createTagOption = (tag) => {
            return `<option value=${tag.id}>${tag.name}</option>`
        }
        const buildTagsOptions = () => {
            const tagsJSON = {{tags|tojson}};
            return tagsJSON.map((tag) => createTagOption(tag)).join('');
        }
        const tags = buildTagsOptions();
        console.log(tags);
        $("#tag-select-0").html(tags);
        let coauthors = []
        let coauthorInputCount = 1, tagInputCount = 1;
        let coauthorStartId = 0, tagStartId = 0;

        const getCoauthors = () => {
            let coauthors = [];
            console.log(coauthorStartId);
            for(i = 0; i <= coauthorStartId; i++){
                const authorName = document.getElementById(`name-input-${i}`).value;
                const authorLastName = document.getElementById(`sname-input-${i}`).value;
                const authorEmail = document.getElementById(`email-input-${i}`).value;
                console.log(authorName, authorLastName, authorEmail);
                if(authorName && authorLastName && authorEmail){
                    coauthors.push({
                        authorName,
                        authorLastName,
                        authorEmail
                    });
                }
            }
            return coauthors;
        }

        const getTags = () => {
            let tagArray = [];

            for(i = 0; i <= tagStartId; i++){
                const tagId = $(`#tag-select-${i}`).val()

                if(tagId && tagId > 0){
                    tagArray.push({id: tagId});
                }
            }

            return tagArray;
        }
        
        const fillHiddenFields = (e) => {
            e.preventDefault();
            e.stopPropagation();
            
            const coauthors = getCoauthors();
            const tagArray = getTags();

            console.log(coauthors);
            console.log(tagArray);

            document.getElementById("coauthors-input-field").value = JSON.stringify(coauthors);
            document.getElementById("tags-input-field").value = JSON.stringify(tagArray);
            document.getElementById("articleUploadForm").submit();
        }

        const addInput = (name, inputBuilder, id) => {
            console.log(id);
            $(`#${name}`).append(inputBuilder(id));
        }

        const removeInput = (e) => {
            e.preventDefault();
            $(this).parent("div").remove();
            inputCount--;
        }

        const createNewAuthorInput = (id) => 
            {
                // coauthorInputCount++;
                return `<div id="${id}">
                    <input type="text" placeholder="First name" value="" id="name-input-${id}"/>
                    <input type="text" placeholder="Last name" value="" id="sname-input-${id}"/>
                    <input type="text" placeholder="E-mail" value="" id="email-input-${id}"/>
                    <div class="hidden" style="color: red;">Invalid e-mail!</div>
                    <a href="javascript:void(0);" class="remove-input-author" title="Remove author">
                        <img src={{url_for('static', filename='res/del.png')}}/>
                    </a>
                </div>`;
            }
        
        const createNewTagInput = (id) => 
            {
                // tagInputCount++;
                return `<div id="${id}">
                    <select placeholder="Select tag" id="tag-select-${id}">
                        ${tags}
                    </select>
                    <a href="javascript:void(0);" class="remove-input-tag" title="Remove tag">
                        <img src={{url_for('static', filename='res/del.png')}}/>
                    </a>
                </div>`
        };

        $('.add-input-author').on('click', function () {
            addInput('coauthors-wrapper',createNewAuthorInput, ++coauthorStartId);
        })

        $('.add-input-tag').on('click', function () {
            addInput('tags-wrapper',createNewTagInput, ++tagStartId);
        })

        $('#coauthors-wrapper').on('click', '.remove-input-author', function(e) {
            e.preventDefault();
            $(this).parent("div").remove();
            coauthorInputCount--;
        })

        $('#tags-wrapper').on('click', '.remove-input-tag', function(e) {
            e.preventDefault();
            $(this).parent("div").remove();
            tagInputCount--;
        })

        // document.getElementById("add-coauthor").addEventListener('click', appendCoauthor);
        document.getElementById("articleUploadForm").addEventListener('submit', fillHiddenFields);
    }
</script>
{% endblock %}

{% block content %}

<form id="articleUploadForm" method="POST" action="/article/add" enctype="multipart/form-data">
    {{form.hidden_tag()}}
    <!-- {{form.title.label}} {{form.title()}}
    {{form.description.label}} {{form.description}}
    {{form.file.label}} {{form.file()}}
    {{form.license.label}} {{form.license()}}
    {{form.submitbtn.label}} {{form.submitbtn()}}
    {{form.coauthors}} -->
    {{render_register_field(form.file, "form.file.label")}}
    {{render_register_field(form.anonymousFile, "form.anonymousFile.label")}}
    {{render_boolean_field(form.anonymity_declaration)}}
        
    {{render_register_field(form.title, "Title")}}
    {{render_register_field(form.description, "Abstract")}}
    {{render_register_field(form.license, "License")}}

    Add remaining co-authors.
    <div id="coauthors-wrapper">
        <p style="margin: 0;">Note: you will not be able to change the list of authors in the future.</p>
        <div>
        <input type="text" placeholder="First name" value="" id="name-input-0"/>
        <input type="text" placeholder="Last name" value="" id="sname-input-0"/>
        <input type="text" placeholder="E-mail" value="" id="email-input-0"/>
        <div class="hidden" style="color: red;">Invalid e-mail!</div>
        <a href="javascript:void(0);" class="add-input-author" title="Add author"><img src="{{url_for('static', filename='res/add.png')}}"/></a>
        </div>
    </div>

    Optionally, assign tags.
    <div id="tags-wrapper">
        <div id="0">
            <select placeholder="Select tag" id="tag-select-0"></select>
        <a href="javascript:void(0);" class="add-input-tag" title="Add tag"><img src="{{url_for('static', filename='res/add.png')}}"/></a>
        </div>
    </div>

    Optionally, assign affiliation(s).
    <div>
    <input id="companyName" list="companyList" />
    <datalist id="companyList"></datalist>
    </div>

    {{render_boolean_field(form.interest_conflict_declaration)}}
    {{render_boolean_field(form.authors_declaration)}}
    {{render_boolean_field(form.rights_declaration)}}
    {{render_boolean_field(form.review_declaration)}}
    {{render_register_field(form.confidence_level)}}
    <div class="buttons-wrapper">
                
        {{ form.submitbtn(class="large-button main-button") }}

    </div>
    <!-- <input id="coauthor-name" type="text"/>
    <input id="coauthor-lastname" type="text"/>
    <input id="coauthor-email" type="text"/>
    <button id="add-coauthor" type="button">Add</button> -->
</form>

{% endblock %}
