
{% set api_users_url = url_for('api.get_users', _external=True)%}

<script>
    $(".js-data-example-ajax").select2({
        ajax: {
          url: "{{api_users_url}}",
       
          dataType: 'json',
          delay: 250,
          data: function(params) {
            return {
              q: params.term, // search term
              page: params.page || 1
            };
          },
          processResults: function(data, params) {
            params.page = params.page || 1;
    
             var data_formated = $.map(data.results, function (obj) {
              if (!enableExclusion || (enableExclusion && obj.id !== excludedUserId)) {
                obj.text = obj.first_name +' '+ obj.second_name;
                return obj;
              }
            });
            return {
              results: data_formated,
              pagination: {
                more: data.pagination.more
              }
            };
          },
          cache: false
        },
        placeholder: 'Search for a user',
        minimumInputLength: 2,
        templateResult: formatResult
      });
      
      function formatResult(result) {
        var $container = $(
        "<div class='select2-result-repository clearfix'>" +
          "<div class='select2-result-repository__avatar'><img src='" + result.profile_img_url + "' style='height: 3vw;'/></div>" +
          "<div class='select2-result-repository__meta'>" +
            "<div class='select2-result-repository__title'></div>" +
            "<div class='select2-result-repository__description'></div>" +
          "</div>" +
        "</div>"
      );
    
      $container.find(".select2-result-repository__title").text(result.text);
      $container.find(".select2-result-repository__description").text(result.affiliation);
    
      return $container;
      };
</script>
