{% from "helpers/form_helper.html" import render_edit_profile_field %}

{% extends 'base.html' %}
{% set DROPZONE_JS_URL = config['DROPZONE_JS_URL'] %}
{% set DROPZONE_CSS_URL = config['DROPZONE_CSS_URL'] %}

{% if current_user.is_researcher() %}
    {% set user_type = 'researcher'%}
{% else %}
    {% set user_type = 'standard_user'%}
{% endif %}

{%block styles%}
 <link rel="stylesheet" href="{{url_for('static', filename='styles/edit_profile.css')}}">
{%endblock%}

{% block scripts%}
<script src="{{ DROPZONE_JS_URL }}"></script>
<script>
Dropzone.autoDiscover = false;
function showReviewWarning(value) {
        var mails_limit = document.querySelector('#review_mails_limit').value;
        if (mails_limit == 0) {
            alert("With this choice, you will never be asked by researcher.community to peer review papers, and the option to ask peers to review your papers will be disabled.");
        }
    }

<!--    added $(document).ready to make sure that profile-image-input is already loaded so then i can perform action on it-->
$(document).ready(function() {
    if ('{{ user_type }}' == 'standard_user') {
        $("#researcher_options :input").prop('disabled', true);
        document.getElementById('researcher_options').style.color = '#A9A9A9';
    }
    const csrfToken = document.querySelector('input[name="csrf_token"]').value;
    const previewImage = document.getElementById('preview-image');
    const avatarUploadStatus = document.getElementById('avatar-upload-status');

    new Dropzone("#avatar-dropzone", {
        url: "/user/upload_avatar",
        method: "post",
        maxFilesize: 5, // MB
        acceptedFiles: "image/*",
        maxFiles: 1,
        headers: {
            'X-CSRFToken': csrfToken
        },
        init: function() {
            this.on("addedfile", function(file) {
                if (this.files.length > 1) {
                    this.removeFile(this.files[0]);
                }
            });
        },
        success: function(file, response) {
            avatarUploadStatus.textContent = response.message || 'Avatar uploaded successfully';
            previewImage.src = URL.createObjectURL(file);
        },
        error: function(file, errorMessage) {
            avatarUploadStatus.textContent = errorMessage.error || 'An error occurred during upload';
        },
        sending: function(file, xhr, formData) {
            formData.append("csrf_token", csrfToken);
        }
    });
});
</script>
{% endblock %}


{% block content %}

<div class="profile-edit-wrapper">
    <form id="edit-profile-form" method="POST">
        {{ form.hidden_tag() }}

        {% with pressed='data' %}
            {% include 'user/edit_profile_tab.html' %}
        {% endwith %}
        <br><br>
         <div class="profile-pic-selection-wrapper">
            <img id="preview-image" src="{{url_for('static',filename='res/profileImages/'~current_user.get_id()~'.jpg') if current_user.has_photo else url_for('static',filename='res/profileImages/img.jpg')}}" class="edit-profile-picture" />
            <div class="profile-edit-input-wrapper">
                <div class="label-wrapper">Profile Image</div>
                <div class="label-wrapper">(Please use a photo of your face if you decide to set a photo)</div>
                <div id="avatar-dropzone" class="dropzone">
                    <div class="dz-message" data-dz-message>
                        <span>Drop your avatar here or click to upload</span>
                    </div>
                </div>
                <div id="avatar-upload-status"></div>
            </div>
        </div>

        <br>

        <div class="double-input-wrapper">
            {{ render_edit_profile_field(form.first_name,"First name") }}
            {{ render_edit_profile_field(form.second_name,"Last name") }}
        </div>
        {{ render_edit_profile_field(form.about_me,"About me","(Will be displayed on your profile page. You may write any information you wish to be publicly visible)") }}

        <div class="double-input-wrapper">
            {{ render_edit_profile_field(form.email,"Email address") }}
            {{ render_edit_profile_field(form.affiliation,"Affiliation") }}
        </div>
        <div class="double-input-wrapper">
            {{ render_edit_profile_field(form.orcid,"ORCID") }}
            {{ render_edit_profile_field(form.google_scholar,"Google scholar ID") }}
        </div>

        {{ render_edit_profile_field(form.personal_website,"Personal website url") }}

        <div class="profile-edit-input-wrapper">
            <div class="label-wrapper">{{ form.notifications_frequency.label() }}</div>
            <div class="label-wrapper">
                When others post messages under my papers, I want to be notified every:
            </div>
            <div class="input-wrapper">{{ form.notifications_frequency()}} </div>
            <div class="label-wrapper">
                (Note: you will always be notified immediately when your paper is reviewed)
            </div>
        </div>
        <div id="researcher_options">
            <div class="profile-edit-input-wrapper">
                <div class="label-wrapper">{{ form.review_mails_limit.label() }}</div>
                <div class="label-wrapper">
                    Scientific community relies on peer review.
                    <br>
                    We will periodically send you emails with new papers similar to your scientific profile of interest (based on your papers you provided).
                    <br>
                    Authors of some of these new papers may ask for an opinion or a review.<br>How many emails per month do you wish to receive at most?<br>(This is the maximal number, applicable only if you are selected as a reviewer for your peers).
                </div>
                <div class="input-wrapper">{{ form.review_mails_limit(id='review_mails_limit',oninput="showReviewWarning(value)")}} </div>
            </div>

            <br>
        </div>

            <div class="buttons-wrapper">
                {{ form.submit(class="large-button main-button")}}
            </div>
       
    </form>
</div>



{% endblock %}
