{% extends 'base.html' %}

{% set MAX_FILE_SIZE = config['MAX_CONTENT_LENGTH_MB'] %}
{% set DROPZONE_JS_URL = config['DROPZONE_JS_URL'] %}
{% set DROPZONE_CSS_URL = config['DROPZONE_CSS_URL'] %}


{% block scripts %}
<script src="{{ DROPZONE_JS_URL }}"></script>
<script>
Dropzone.options.uploadCalibartionPDFs = {
    dictDefaultMessage: "Drop here calibration papers to upload",
    acceptedFiles: '.pdf',
    maxFiles: 25,
    init: function () {
        this.on('queuecomplete', function () {
            if (this.getFilesWithStatus(Dropzone.ERROR).length == 0) {
                location.reload();
            }
        });
    },
    maxFilesize: {{MAX_FILE_SIZE}}  
};

</script>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ DROPZONE_CSS_URL }}">
{% endblock %}

{% block content %}

<div class="profile-edit-wrapper">
   

            {% with pressed='calibration_files' %}
                {% include 'user/edit_profile_tab.html' %}
            {% endwith %}

            <br><br>

            <div class="label-wrapper">
                <label>
                    Upload papers (PDF files) representative to your area of expertise (Optional)
                </label>
            </div>
            
            <div class="label-wrapper">
                These papers will not be published here, so you can even upload papers for which you have transferred copyright. These articles are only used to extract raw text in order to identify your area of expertise.
            </div>

            <br>
            <form id="uploadCalibartionPDFs" action="{{ url_for('user.upload_calibration_file') }}" class="dropzone">
            </form>
            <br>

            <h2>Uploaded calibration papers</h2>
            <h3>
                {% if calibration_papers | length == 0 %}
                    You didn't upload any calibration papers yet. Consider adding calibration papers to your profile &ndash;
                    this will help in better understanding your area of expertise!
                {% elif calibration_papers | length == 1 %}
                    You uploaded {{ calibration_papers | length }} calibration paper. Consider adding a few more, as
                    this will help in better understanding your area of expertise!
                {% elif calibration_papers | length < 5 %}
                    You uploaded {{ calibration_papers | length }} calibration papers &ndash; maybe consider adding a few more?
                {% else %}
                    You uploaded {{ calibration_papers | length }} calibration papers. Please keep the papers representative of your area of expertise!
                {% endif %}
            </h3>
            <br>
            {% for calibration_paper in calibration_papers %}


{#
<!-- simple: -->
                {{calibration_paper.description}}

<!-- more fancy, emphasizes paper file name separately BUT assumes one '|' in .description as the delimeter: -->
<!-- (ideally, file name and first extracted words should be stored in two separate fields, or the words should be taken from the actual extracted data) -->
#}


{% set list = calibration_paper.description.split('|') %}
<code>
{{ list[0] }}
</code>
First extracted words: 
{% for item in list %}
  {% if not loop.first %}
    {{ item }}
  {% endif %}
{% endfor %}
...

                <a href="{{url_for('user.delete_calibration_paper', paper_id=calibration_paper.id)}}">
                    <button class="my-delete-button">
                        Delete this calibration paper
                    </button>
                </a>
                <br>
            {% endfor %}
</div>


{% endblock %}
