{% from "helpers/form_helper.html" import render_edit_profile_field %}

{% extends 'base.html' %}
{% block content %}

<div class="profile-edit-wrapper">
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <h1>
           Edit account
        </h1>
        <div class="profile-pic-selection-wrapper">
            <img src="{{config['PROFILE_IMAGE_URL']~current_user.id~'.png' if current_user.has_photo else config['PROFILE_IMAGE_URL']~'img.png'}}" class="edit-profile-picture" />
            <div class="profile-edit-input-wrapper">
                <div clas="label-wrapper">{{ form.profile_image.label()}}</div>
                <div class="input-wrapper">{{ form.profile_image()}}</div>
                {% for error in form.profile_image.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
        </div>
        
        <div class="double-input-wrapper">
            {{ render_edit_profile_field(form.first_name,"First Name") }}
            {{ render_edit_profile_field(form.second_name,"Second Name") }}
        </div>

        {{ render_edit_profile_field(form.about_me,"About me") }}
 
        <div class="double-input-wrapper">
            {{ render_edit_profile_field(form.email,"Email Address") }}
            {{ render_edit_profile_field(form.affiliation,"Affiliation") }}
        </div>

        <div class="double-input-wrapper">
            {{ render_edit_profile_field(form.orcid,"ORCID") }}
            {{ render_edit_profile_field(form.google_scholar,"Google scholar") }}
        </div>
   
        {{ render_edit_profile_field(form.personal_website,"Personal website url") }}

        <div class="profile-edit-input-wrapper">
            <div class="label-wrapper">{{ form.review_mails_limit.label() }}</div>
            <div class="input-wrapper">{{ form.review_mails_limit()}} </div>
        </div>     

        <div class="profile-edit-input-wrapper">
            <div class="label-wrapper">{{ form.notifications_frequency.label() }}</div>
            <div class="input-wrapper">{{ form.notifications_frequency()}} </div>  
        </div> 

        <div class="buttons-wrapper">
            {{ form.submit(class="large-button main-button")}}
            <a href="{{url_for('change_password_page')}}">
                <button type="button" class="large-button secondary-button" style="background-color: grey;">Change password</button>
            </a>
            <a href="{{url_for('delete_profile_page')}}">
                <button type="button" class="large-button secondary-button" style="background-color: grey;">Delete profile</button>
            </a>
        </div>
    </form>
</div>



{% endblock %}