{% extends 'base.html' %}

{% from "helpers/form_helper.html" import render_edit_profile_field %}

{%block styles%}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
{%endblock%}

{%block scripts%}
<script>
    $(document).ready(function() {
        $("#flag").click( function(e) {
            e.preventDefault();
            const uid = {{user.id}};
            $.post(`/user/${uid}/flag`, function() {
                alert("User has been reported. Thanks for letting us know.")
            }).fail(function() {
                alert("Error");
            });
        });
    });
</script>
{%endblock%}

{% block content %}
<div class="user-profile-wrapper">
    <div class="user-profile-header">
        <div class="profile-picture-wrapper">
            <img src="{{url_for('static',filename='res/profileImages/'~user.get_id()~'.jpg') if user.has_photo else url_for('static',filename='res/profileImages/img.jpg')}}" class="profile-picture" />
        </div>
        <div class="user-info-wrapper">
            <div class="username-wrapper">
                <h3 class="username">
                    {{user.first_name}} {{user.second_name}}
                </h3>
                {% if user.is_researcher() %}
                <i id="verified-user-icon" class="fas fa-check-circle fa-center"></i>
                {% endif %}
            </div>

            <h6 class="afiliation">{{user.affiliation}}</h6>

            <div>Verified email at {{user.email.split('@')[1]}}</div>

            <div>Last seen: {{ moment(user.last_seen).fromNow() if user.last_seen else 'never'  }}</div>

            {% if user.orcid%}
                <div>ORCID: {{user.get_orcid()}}</div>
            {% endif %}

            {% if user.google_scholar%}
                <div>Google scholar: <a href="https://scholar.google.com/{{user.get_google_scholar()}}">https://scholar.google.com/{{user.get_google_scholar()}}</a> </div>
            {% endif %}

            {% if user.personal_website%}
            <div>Personal website: <a href="{{ user.personal_website }}">{{user.personal_website}}</a></div>
            {% endif %}

            <div class="stats-wrapper">
                {% if user.is_researcher() %}
                <div class="stats-element-wraper" title="Papers">
                    <i class="fas fa-file-alt fa-center"></i>
                    <a class="stat-value" href="{{url_for('search.advanced_search_papers_page',page=1,search_data={'user_id':user.id},order_by='newest')}}">{{data['articles_num']}}</a>
                </div>
                <div class="stats-element-wraper">
                    <i class="fas  fa-center">Reviews:</i>
                    <a class="stat-value" href="{{url_for('search.reviews_list_page',page=1,search_data={'user_id':user.id},order_by='newest')}}">{{data['reviews_num']}}</a>
                </div>
                {% endif %}

                <div class="stats-element-wraper" title="Comments">
                    <i class="fas fa-comment-alt fa-center"></i>
                    <p class="stat-value">{{data['comments_num']}}</p>
                </div>
                <div class="stats-element-wraper" title="Reputation">
                    <i class="fas fa-medal fa-center"></i>
                    <p class="stat-value">{{data['reputation']}}</p>
                </div>
            </div>
            {%if current_user.is_authenticated%}
            <div>
                <a href="#" id="flag">Flag</a>
            </div>
            {%endif%}
        </div>
    </div>
 
    {% if current_user.is_authenticated and (current_user.get_id()|int==user.id) %}
    <div class="actions-wrapper">
        <form class="user-action" action="{{url_for('user.edit_profile_page')}}" method="GET">    
            <button type="submit">Edit profile</button>
         </form>

         <form class="user-action" action="{{url_for('user.invite_user_page')}}" method="GET">    
            <button type="submit">Invite users</button>
         </form>

    </div>
    {% endif %}

    {% if current_user.is_authenticated %}
        {% if current_user.can_request_endorsement(user.id) %}
            <div class="actions-wrapper">
                <form class="user-action" action="{{url_for('user.request_endorsement', endorser_id = user.id)}}" method="GET">    
                    <button type="submit">Request endorsement</button>
                </form>
            </div>
        {% endif %}
    {% endif %}


    {% if current_user.is_authenticated and current_user.is_standard_user() and (current_user.get_id()|int==user.id) %}
        <div>
            <h3>Note: To publish and review articles, you need to be endorsed as a researcher. More information: <a href="{{url_for('main.help_page')}}">Help</a> </h3>
        </div>
    {% endif %}



    <div>
        <h3>About me</h3>
        {{user.about_me}}
    </div>

    {% if current_user.is_authenticated and current_user.is_admin()  and (current_user.get_id()|int!=user.id) %}

    <div>
        <form method="POST">
            {{ remarks_form.hidden_tag() }}
        
            {{ render_edit_profile_field(remarks_form.remarks,"Remarks to user") }}
    
            {{ remarks_form.submit() }}
           
        </form>
    </div>

{% endif %}


    {% if current_user.is_authenticated and (current_user.get_id()|int==user.id) and  current_user.is_researcher() %}

        

        <div>
            <h3>My papers</h3>
            {% if current_user.can_upload_paper() %}
            <form class="user-action" action="{{url_for('paper.upload_file_page')}}" method="GET">    
                <button type="submit">Upload paper</button>
            </form>
            {% endif %}
            {% include 'user/tables/table_papers.html' %}
        </div>
      
        <br><br>
        <div>
            <h3>My reviews</h3>
            {% include 'user/tables/table_reviews.html' %}
        </div>
        <br><br>

 
        <div>
            <h3>Tags created by me</h3>
            {% if current_user.can_create_tag() %}
            <form class="user-action" action="{{url_for('tag.create_tag_page')}}" method="GET">    
                <button type="submit">Create Tag</button>
            </form>
            {% endif %}
            {% include 'user/tables/table_tags.html' %}
        </div>
   
  
        <br><br>    
    {% endif %}

    {% if current_user.is_authenticated and (current_user.get_id()|int==user.id) %}

        <div>
            <h3>Tags assigned to me</h3>
            {% include 'user/tables/table_assigned_tags.html' %}
        </div>

        <div>
            <h3>My posts</h3>
            {% include 'user/tables/table_comments.html' %}
        </div>

    {% endif %}

</div>


{% endblock %}
