{% extends 'base.html' %}

{% from "helpers/form_helper.html" import render_edit_profile_field %}

{%block styles%}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
{%endblock%}

{% block content %}
<div class="user-profile-wrapper">
    <div class="user-profile-header">
        <div class="profile-picture-wrapper">
            <img src="{{config['PROFILE_IMAGE_URL']~user.id~'.png' if user.has_photo else config['PROFILE_IMAGE_URL']~'img.png'}}" class="profile-picture" />
        </div>
        <div class="user-info-wrapper">
            <div class="username-wrapper">
                <h3 class="username">
                    {{user.first_name}} {{user.second_name}}
                </h3>
                {% if user.is_researcher() %}
                <i id="verified-user-icon" class="fas fa-check-circle fa-center"></i>
                {% endif %}
            </div>

            <h6 class="afiliation">{{user.affiliation}}</h6>

            <div>Verified email at {{user.email.split('@')[1]}}</div>

            <div>Last seen: {{ user.last_seen.strftime("%Y-%m-%d %H:%M") if user.last_seen else 'never'  }}</div>

            {% if user.orcid%}
                <div>ORCID: {{user.get_orcid()}}</div>
            {% endif %}

            {% if user.google_scholar%}
                <div>Google scholar: <a href="https://scholar.google.com/{{user.get_google_scholar()}}">https://scholar.google.com/{{user.get_google_scholar()}}</a> </div>
            {% endif %}

            {% if user.personal_website%}
            <div>Personal website: <a href="{{ user.personal_website }}">{{user.personal_website}}</a></div>
            {% endif %}

            <div class="stats-wrapper">
                <div class="stats-element-wraper">
                    <i class="fas fa-file-alt fa-center"></i>
                    <a class="stat-value" href="{{url_for('advanced_search_papers_page',page=1,search_data={'user_id':user.id},order_by='newest')}}">{{data['articles_num']}}</a>
                </div>
                <div class="stats-element-wraper">
                    <i class="fas  fa-center">Reviews:</i>
                    <a class="stat-value" href="{{url_for('reviews_list_page',page=1,search_data={'user_id':user.id},order_by='newest')}}">{{data['reviews_num']}}</a>
                </div>
                <div class="stats-element-wraper">
                    <i class="fas fa-comment-alt fa-center"></i>
                    <p class="stat-value">{{data['comments_num']}}</p>
                </div>
                <div class="stats-element-wraper">
                    <i class="fas fa-heart fa-center"></i>
                    <p class="stat-value">{{data['reputation']}}</p>
                </div>
            </div>
        </div>
    </div>
 
    {% if current_user.is_authenticated and (current_user.get_id()|int==user.id) %}
    <div class="actions-wrapper">
        <form class="user-action" action="{{url_for('edit_profile_page')}}" method="GET">    
            <button type="submit">Edit profile</button>
         </form>

         <form class="user-action" action="{{url_for('invite_user_page')}}" method="GET">    
            <button type="submit">Invite users</button>
         </form>

    </div>
    {% endif %}

    {% if current_user.is_authenticated %}
        {% if current_user.can_request_endorsement(user.id) %}
            <div class="actions-wrapper">
                <form class="user-action" action="{{url_for('request_endorsement', endorser_id = user.id)}}" method="GET">    
                    <button type="submit">Request endorsement</button>
                </form>
            </div>
        {% endif %}
    {% endif %}


    <div>
        <h3>About me:</h3>
        {{user.about_me}}
    </div>

    {% if current_user.is_authenticated and current_user.is_admin()  and (current_user.get_id()|int!=user.id) %}

    <div>
        <form method="POST">
            {{ remarks_form.hidden_tag() }}
        
            {{ render_edit_profile_field(remarks_form.remarks,"Remarks to user") }}
    
            {{ remarks_form.submit() }}
           
        </form>
    </div>

{% endif %}


    {% if current_user.is_authenticated and (current_user.get_id()|int==user.id) and  current_user.is_researcher() %}

        
        {% if current_user.can_upload_paper() %}
        <div>
            <h3>My Papers</h3>
            <form class="user-action" action="{{url_for('upload_file_page')}}" method="GET">    
                <button type="submit">Upload paper</button>
            </form>
            {% include 'user/tables/table_papers.html' %}
        </div>
        {% endif %}
        <br><br>
        <div>
            <h3>My Reviews</h3>
            {% include 'user/tables/table_reviews.html' %}
        </div>
        <br><br>

        {% if current_user.can_create_tag() %}
        <div>
            <h3>My Tags</h3>
            <form class="user-action" action="{{url_for('create_tag_page')}}" method="GET">    
                <button type="submit">Create Tag</button>
            </form>
            {% include 'user/tables/table_tags.html' %}
        </div>
        {% endif %}
  
        <br><br>    
    {% endif %}

    {% if current_user.is_authenticated and (current_user.get_id()|int==user.id) %}

        <div>
            <h3>My Posts</h3>
            {% include 'user/tables/table_comments.html' %}
        </div>

    {% endif %}

</div>


{% endblock %}