<table id="data_papers" class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>            
        <th>Version</th>
        <th>Publication date</th> 
        <th>Upload new revision</th>
        <th>Reviews</th>
        <th>Request more reviews</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

{% set api_user_papers_url = url_for('api.user_papers_data')%}

{%block scripts%}
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>

<script>

    $(document).ready(function () {
      const table =  $('#data_papers').DataTable({
        lengthChange: false,
        ajax: '{{api_user_papers_url}}',
        serverSide: true,
        rowId: 'id',
        columns: [
          {data: 'title'},
          {data: 'version'},
          {data: 'publication_date'},
          {"defaultContent": "<button class='dt-upload-btn'>New revision</button>", orderable: false },
          {data: 'reviews_count',orderable: false},
          {"defaultContent": "<button class='dt-more-reviews-btn'>Ask for reviews</button>", orderable: false },
        ],
      });



    $('#data_papers').on('click', '.dt-upload-btn', function (e) {
      e.stopPropagation();
      const url = table.row($(this).closest('tr')).data().new_verison_url;
      window.location.assign(url);
    });

    $('#data_papers').on('click', '.dt-more-reviews-btn', function (e) {
      e.stopPropagation();
      const url = table.row($(this).closest('tr')).data().more_reviews_url;
      window.location.assign(url);
    });

    $('#data_papers').on('click', 'tr', function (e) {
      e.stopPropagation();
      const url = table.row($(this).closest('tr')).data().show_url;
      window.location.assign(url);
    });
    


  });
</script>

{%endblock%}



