<table id="data_reviews" class="table table-striped">
    <thead>
      <tr>
        <th>Paper's Title</th>    
        <th>Paper's Revision</th>        
        <th>Review's Publication date</th> 
        <th>Is visible</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

{% set api_user_reviews_url = url_for('user_reviews_data')%}


{%block scripts%}
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>

<script>
    $(document).ready(function () {
      const table = $('#data_reviews').DataTable({
        lengthChange: false,
        ajax: '{{api_user_reviews_url}}',
        serverSide: true,
        rowId: 'id',
        columns: [
          {data: 'paper_title', orderable: false},
          {data: 'paper_version', orderable: false},
          {data: 'publication_datetime'},
          {data: 'is_visible', orderable: false},
          {"defaultContent": "<button class='dt-edit-btn'>Edit</button>", orderable: false }
        ],
      });

      $('#data_reviews').on('click', '.dt-edit-btn', function (e) {
        e.stopPropagation();
        const url = table.row($(this).closest('tr')).data().edit_url;
        window.location.assign(url);
      });

      $('#data_reviews').on('click', 'tr', function (e) {
        e.stopPropagation();
        const url = table.row($(this).closest('tr')).data().show_url;
        window.location.assign(url);
      });


    });
</script>

{%endblock%}



