
<table id="data_comments" class="table table-striped">
    <thead>
      <tr>
        <th>Refers to</th>
        <th>Text</th>    
        <th>Date</th>        
        <th>Score</th> 
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>


{% set api_user_comments_url = url_for('user_comments_data')%}


{%block scripts%}
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>



<script>
    $(document).ready(function () {
      const table = $('#data_comments').DataTable({
        lengthChange: false,
        ajax: '{{api_user_comments_url}}',
        serverSide: true,
        rowId: 'id',
        columns: [
          {data: 'refers_to', orderable: false},
          {data: 'text'},
          {data: 'date'},
          {data: 'votes_score'}
        ],
      });


      $('#data_comments').on('click', 'tr', function (e) {
        e.stopPropagation();
        const url = table.row($(this).closest('tr')).data().show_url;
        window.location.assign(url);
      });


    });
</script>

{%endblock%}



