{% extends 'base.html' %}
{% from "helpers/form_helper.html" import render_checkbox_field %}

{% block scripts%}
<script>
function outputUpdateNovel(value) {
    document.querySelector('#selected-evaluation_novel').value = value;
}
function outputUpdateConclusion(value) {
    document.querySelector('#selected-evaluation_conclusion').value = value;
}
function outputUpdateError(value) {
    document.querySelector('#selected-evaluation_error').value = value;
}
function outputUpdateOrganize(value) {
    document.querySelector('#selected-evaluation_organize').value = value;
}
function outputUpdateConfidence(value) {
    document.querySelector('#selected-confidence').value = value;
}


$(document).ready(function(){
  var max_input_fields = 10;
  var add_input = $('.add-input');
  var input_wrapper = $('#suggestions');
  var new_input = '<div><input type="text" name="field[]" placeholder="Suggestion" value=""/><input type="text"  placeholder="Location" name="field2[]" value=""/><a href="javascript:void(0);" class="remove-input" title="Remove input"><img src="/static/res/del.png"/></a></div>';
  
  var add_input_count = 1; 
  $(add_input).click(function(){
      if(add_input_count < max_input_fields){
          add_input_count++; 
          $(input_wrapper).append(new_input); 
      }
  });
  $(input_wrapper).on('click', '.remove-input', function(e){
      e.preventDefault();
      $(this).parent('div').remove();
      add_input_count--;
  });
});
  
</script>
{% endblock %}

{% block content %}

  <div>
    <a href="{{data['paper_url']}}">Related Paper</a>
  </div>

    <div class="">
        <div class="">
            <form method="POST">
                {{ form.hidden_tag() }}


                {% if not is_published %}
                    {{ render_checkbox_field(form.check_no_conflict) }}
                {% endif %}
            

                <div id="suggestions">
                  <div>Suggestions (*are not remembered when saving the form): <br>
                  <input type="text" name="field[]" placeholder="Suggestion" value=""/>
                  <input type="text" name="field2[]" placeholder="Location" value=""/>
                  <a href="javascript:void(0);" class="add-input" title="Add input"><img src="/static/res/add.png"/></a>
                  </div>
              </div>
       

                <br>
             
                <table>
                    <tr>
                      <th>Evaluation criteria</th>
                     
                      {% for prev_review in previous_reviews%}
                        <th>
                          <a href="{{url_for('review_page',review_id=prev_review.id)}}">Revision {{loop.index}}</a>
                        </th>
                       {% endfor %}

                      <th>Current grade</th>
                    </tr>

                    <tr>
                      <td>  
                          {{ form.evaluation_novel.label }}
                      </td>
                   
                      {% for prev_review in previous_reviews%}
                        <td>
                          {{ (prev_review.evaluation_novel*100)|int }}%
                        </td>
                      {% endfor %}

                      <td>
                        {{ form.evaluation_novel(min=0, max=100,step=1, oninput="outputUpdateNovel(value)") }}
                        <output for="evaluation_novel" id="selected-evaluation_novel">{{ form.evaluation_novel.data }}</output>%
                      </td>
                    </tr>

                    <tr>
                      <td>  {{ form.evaluation_conclusion.label }} </td>
                     

                      {% for prev_review in previous_reviews%}
                        <td>
                          {{ (prev_review.evaluation_conclusion*100)|int }}%
                        </td>
                      {% endfor %}


                      <td>
                        {{ form.evaluation_conclusion(min=0, max=100,step=1, oninput="outputUpdateConclusion(value)") }}
                        <output for="evaluation_conclusion" id="selected-evaluation_conclusion">{{ form.evaluation_conclusion.data }}</output>%
                      </td>
                    </tr>

                    <tr>
                        <td>  
                          {{ form.evaluation_error.label }}
                        </td>
                     
                      {% for prev_review in previous_reviews%}
                        <td>
                          {{ (prev_review.evaluation_error*100)|int }}%
                        </td>
                      {% endfor %}

                      <td>
                        {{ form.evaluation_error(min=0, max=100,step=1, oninput="outputUpdateError(value)") }}
                        <output for="evaluation_error" id="selected-evaluation_error">{{ form.evaluation_error.data }}</output>%
                      </td>
                      
                    </tr>

                    <tr>
                      <td>  
                          {{ form.evaluation_organize.label }}
                      </td>
                     
                    {% for prev_review in previous_reviews%}
                      <td>
                        {{ (prev_review.evaluation_organize*100)|int }}%
                      </td>
                    {% endfor %}

                      <td>
                        {{ form.evaluation_organize(min=0, max=100,step=1, oninput="outputUpdateOrganize(value)") }}
                        <output for="evaluation_organized" id="selected-evaluation_organize">{{ form.evaluation_organize.data }}</output>%
                      </td>
                    </tr>

                    <tr>
                      <td>
                        {{ form.confidence.label }}
                      </td>
                      
                    {% for prev_review in previous_reviews%}
                      <td>
                        {{ (prev_review.confidence*100)|int }}%
                      </td>
                    {% endfor %}

                       
                      <td>
                        {{ form.confidence(min=0, max=100,step=1, oninput="outputUpdateConfidence(value)") }}
                        <output for="confidence" id="selected-confidence">{{ form.confidence.data }}</output>%
                      </td>
                    </tr>

                  </table>

               
               

                <br>
                {{ render_checkbox_field(form.check_anonymous) }}
                <br>


                <div class="buttons-wrapper">
                
                    {{ form.save(class="large-button secondary-button") }}
                    {% if not is_published %}
                    {{ form.submit(class="large-button main-button", onclick="return confirm('Are you sure you want to publish this review? (Remember: your review will be publicly visible)')") }}
                    {% endif %}

                </div>  
                
                <div class="">
                  
                </div>
            

            </form>


        </div>
    </div>


{% endblock %}


