{% extends 'base.html' %}
{% block content %}

{% block scripts %}
<script>
    function showOtherReasonField() {
        // Change 'declined_reason-4' if reasons are added (4 == Other)
        var checkBox = document.getElementById("declined_reason-4");
        var div = document.getElementById("other_reason");
        if (checkBox.checked == true){
            div.style.display = "block";
        } else {
            div.style.display = "none";
        }
      }
</script>
{% endblock %}

<div>
    <form method="POST">


        <div>
            <strong>Paper's abstract:</strong>
            <br>
            {{ data['abstract'] }}
        </div>

        <br>

        <div>
            <strong>“stripped down” version:</strong>
            <br>
            
            {% if data['anonymized_pdf_url'] %}
                {{ data['anonymized_pdf_url'] }}
            {% else %}
                {{ data['pdf_url'] }}
            {% endif %}
        </div>
        
        <br>

        {{ form.hidden_tag() }}
        <br>
        Accept, I expect to prepare my review in
        <br>
        {{form.prepare_time()}}
        {{form.submit_accept()}}
        <br>
        Decline,reason:
        <br>
        {{form.declined_reason(onclick="showOtherReasonField()")}}

        <div id="other_reason" style="display:none">
            {{form.other_reason_text(placeholder='Other reason')}}
        </div>
      
        <br>
        {{form.submit_decline()}}
    </form>
</div>

{% endblock %}