{% from "helpers/form_helper.html" import render_register_field %}
{% from "helpers/comment_helper.html" import render_comment %}
{% extends 'base.html' %}


{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/view.css') }}"/>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.12.313/pdf.min.js"></script>
<script>
    $(document).ready(function () {
        $(".comment").on('click', '.flag-comment', function (e) {
            e.preventDefault();
            const id = $(this).closest('.comment-wrapper').attr('id').substring(1);
            if(confirm("Are you sure you want to flag this comment?")) {
                $.post(`/comment/${id}/flag`, function () {
                    alert("Comment has been reported. Thanks for letting us know.")
                }).fail(function () {
                    alert("An error occured");
                });
            }
        });

        $(".comment").on('click', '.reply-action', function () {
            const id = $(this).closest('.comment-wrapper').attr('id');
            $("#reply-info").html(`Replying to <a href="#${id}">#${id}</a>`)
            $("#reply-info-wrapper").removeClass("disabled");
            $("#comment_ref").val(id);
        });

        $("#cancel-reply-button").on('click', function (e) {
            e.preventDefault();
            $("#reply-info-wrapper").addClass('disabled');
            $("#comment_ref").val('');
        });

        $('#submit_comment').on('click', function (e) {
            console.log($("#comment_ref").val());
        });

         $(".comment").on('click', '.like-icon', function (e) {
            e.preventDefault();
            const id = $(this).closest('.comment-wrapper').attr('id').substring(1);
            const relatedDisliker = $(this).closest('.stats-element-wraper').find('.dislike-icon');
            const valueField = $(this).closest('.stats-element-wraper').find('.stat-value');
            const elem = $(this);
            const uid = {{ current_user.id }};

            $.ajax({
                url: "/action/verify_liked",
                type: "POST",
                data: JSON.stringify({userID: uid, commentID: id}),
                dataType: 'json',
                contentType: 'application/json',

                success: function (data) {
                   // console.log(data)
                    if (data.result === true) {
                        //console.log('liked');
                        alert('You already liked this comment!')
                    }
                   if(data.result === "clear"){
                            // console.log("you are in clear like")
                            $.ajax({
                                url: "/action/like",
                                type: "POST",
                                data: JSON.stringify({action: 'dislike_clear', comment_id: id, type: 'comment'}),
                                dataType: 'json',
                                contentType: 'application/json',
                                success: function (response) {
                                    // console.log(response);
                                    relatedDisliker.removeClass('dislike-pressed');
                                    const newCount = parseInt(response.new_value);
                                    // console.log(valueField.text());
                                    valueField.text(newCount);
                                }
                            })
                        }
                    if(data.result === false) {
                        // console.log('not liked');
                        $.ajax({
                            url: "/action/like",
                            type: "POST",
                            data: JSON.stringify({action: 'up', comment_id: id, type: 'comment'}),
                            dataType: 'json',
                            contentType: 'application/json',
                            error: function (request, error) {
                                // console.log(arguments);
                                alert(" Can't do because: " + error);
                            },
                            success: function (response) {
                                // console.log(response);
                                relatedDisliker.removeClass('dislike-pressed');
                                elem.addClass('like-pressed');
                                const newCount = parseInt(response.new_value);
                                console.log(newCount);
                                valueField.text(newCount);
                            }
                        })
                    }
                }
            });
        });

        $(".comment").on('click', '.dislike-icon', function (e) {
            e.preventDefault();
            const id = $(this).closest('.comment-wrapper').attr('id').substring(1);
            const relatedLiker = $(this).closest('.stats-element-wraper').find('.like-icon');
            const valueField = $(this).closest('.stats-element-wraper').find('.stat-value');
            const elem = $(this);
            const uid = {{ current_user.id }};
            // console.log("dislike-clicked");
            $.ajax({
               url: "/action/verify_disliked",
                    type: "POST",
                    data: JSON.stringify({userID: uid, commentID: id}),
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function(data) {
                        // console.log(data)
                        if(data.result === true) {
                            // console.log('liked');
                            alert('You already disliked this comment!')
                        }
                         if(data.result === "clear"){
                             $.ajax({
                                url: "/action/like",
                                type: "POST",
                                data: JSON.stringify({action: 'like_clear', comment_id: id, type: 'comment'}),
                                dataType: 'json',
                                contentType: 'application/json',
                                success: function (response) {
                                    // console.log(response);
                                    relatedLiker.removeClass('like-pressed');
                                    const newCount = parseInt(response.new_value);
                                    // console.log(valueField.text());
                                    valueField.text(newCount);
                                }
                            })
                        }
                        if(data.result === false) {
                            // console.log('not liked');
                            $.ajax({
                                url: "/action/like",
                                type: "POST",
                                data: JSON.stringify({action: 'down', comment_id: id, type: 'comment'}),
                                dataType: 'json',
                                contentType: 'application/json',
                                success: function (response) {
                                    // console.log(response);
                                    relatedLiker.removeClass('like-pressed');
                                    elem.addClass('dislike-pressed');
                                    const newCount = parseInt(response.new_value);
                                    // console.log(valueField.text());
                                    valueField.text(newCount);
                                }
                            })
                        }
                    }
            });
        });
    });
</script>
{% endblock %}

{% block content %}
<div>
    <h2><a href="{{ data['paper_url'] }}">{{ data['paper_title'] }}'s</a> Review</h2>
    <div>{{ moment(review.publication_datetime).format('LLL') }}</div>

    <h4>Author:
        {% if review.is_anonymous %}
        Anonymous
        {% else %}
        <a href="{{ url_for('user.profile_page', user_id=data['creator_id']) }}">
            {{ data['creator_first_name'] }} {{ data['creator_second_name'] }}
        </a>
        {% endif %}
    </h4>

                <div id="my-pdf-editor-wrapper">
                    <div class="my-pdf-content-wrapper">
                        <div id="my-pdf-container"></div>
                        <div id="my-sidebar">
                            <h3>Remarks</h3>
                            <ul id="commentList"></ul>
                        </div>
                    </div>
                </div>

    <br>

    {% if review.edit_counter > 0 %}
    This review was edited {{ review.edit_counter }} times after it was first published.
    {% endif %}

    <div>
        <table>
            <tr>
                <th>Global, overall comments, remarks, and suggestions</th>
            </tr>
            {% for suggestion in review.rel_suggestions %}
                {% if suggestion.location == '' %}
                    <tr>
                        <td>{{ suggestion.suggestion }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>

    <br>

    <div>
        <table>
            <tr>
                <th>Evaluation criteria</th>
                <th>Grade</th>
            </tr>
            <tr>
                <td>Novel and substantial compared to previous papers by the author(s) and the existing literature</td>
                <td>{{ (review.evaluation_novel*100)|int }}%</td>
            </tr>
            <tr>
                <td>Claims and conclusions reasonable and justified</td>
                <td>{{ (review.evaluation_conclusion*100)|int }}%</td>
            </tr>
            <tr>
                <td>Free of essential and technical errors</td>
                <td>{{ (review.evaluation_error*100)|int }}%</td>
            </tr>
            <tr>
                <td>Well organized, well presented, readable</td>
                <td>{{ (review.evaluation_organize*100)|int }}%</td>
            </tr>
            <tr>
                <td>Accepted</td>
                <td>{{ 'Yes' if review.evaluation_accept else 'No' }}</td>
            </tr>
        </table>
    </div>

    <br>

    <h3 class="comments-header">Comments</h3>
    <div class="comments-wrapper">
        {% for comment in comments %}
        {% set is_author = author == review_creator %}
            {{ render_comment(comment, user_liked_comments, user_disliked_comments, current_user, is_author, moment) }}
        {% endfor %}
    </div>

    {% if current_user.is_authenticated and current_user.can_comment() %}
    <div class="create-comment-wrapper" id="add-comment">
        <form method="POST" action="{{ url_for('review.review_page', review_id=review.id) }}">
            {{ form.hidden_tag() }}
            {{ form.comment_ref() }}
            <div class="profile-edit-input-wrapper">
                <div class="label-wrapper">{{ form.content.label }}</div>
                <div id="reply-info-wrapper" class="disabled">
                    <p id="reply-info"></p>
                    <button type="button" id="cancel-reply-button" onclick="cancelReply()">Cancel</button>
                </div>
                <div class="input-wrapper">{{ form.content(placeholder="Type your comment here...")|safe }}
                </div>
                {% if form.content.errors %}
                {% for error in form.content.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                {% endif %}
            </div>
            <div class="buttons-wrapper">
                {{ form.submit_comment(class="large-button main-button") }}
            </div>
        </form>
    </div>
    {% endif %}
</div>

<script type="text/javascript">
    const review_id = "{{ review.id }}";

    function setReplyTo(commentId, authorName) {
        document.getElementById('reply-info-wrapper').classList.remove('disabled');
        document.getElementById('reply-info').textContent = 'Replying to ' + authorName;
        document.querySelector('input[name="comment_ref"]').value = commentId;
        document.getElementById('add-comment').scrollIntoView();
    }

    function cancelReply() {
        document.getElementById('reply-info-wrapper').classList.add('disabled');
        document.getElementById('reply-info').textContent = '';
        document.querySelector('input[name="comment_ref"]').value = '';
    }
</script>

<script>
    const url = '{{ review.rel_related_paper_version.pdf_url }}';
</script>
<script src="{{ url_for('static', filename='js/pdfviewer2.js') }}"></script>
{% endblock %}
