{% from "helpers/form_helper.html" import render_register_field %}

{% block styles %}
<link rel="stylesheet" href="{{url_for('static', filename='styles/view.css')}}" />
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $(".comment").on('click', '.reply-action', function() {
            const id = $(this).parents().closest('.comment').attr('id');
            $("#reply-info").html(`Replying to <a href="#${id}">#${id}</a>`)
            $("#reply-info-wrapper").removeClass("disabled");
            $("#comment_ref").val(id);
        })

        $("#cancel-reply-button").on('click', function(e) {
            e.preventDefault();
            $("#reply-info-wrapper").addClass('disabled');
            $("#comment_ref").val('');
        })

        $('#submit_comment').on('click', function(e) {
            //e.preventDefault();
            console.log($("#comment_ref").val());
        })
    });
</script>
{% endblock %}

{% extends 'base.html' %}
{% block content %}
<div class="article-page-wrapper">
    <div class="article-page">
        <div class="article-info-wrapper">
            <h2 class="article-title">{{article.title}}</h2>
            <div class="stats-wrapper">
                <div class="stats-element-wraper">
                    <a href="/login" class="linked-icon">
                        <i class="fas fa-heart fa-center"></i>
                        <p class="stat-value">{{article.votes_score}}</p>
                    </a>
                </div>
                <div class="stats-element-wraper">
                    <i class="fas fa-comment fa-center"></i>
                    <p class="stat-value">{{article.rel_comments_to_this_paper|length if article.rel_comments_to_this_paper is not none else '0'}}</p>
                </div>
                <div class="reviews-wrapper">
                    <p class="reviews-header">
                        Reviews: ({{score}})
                    </p>
                    {% for review in article.rel_related_reviews %}
                        {% if review.decision %}
                            <a href="/review/{{review.id}}" class="reviews-entry reviews-entry-accepted">
                                {{review.votes_score}}
                            </a>
                        {%else%}
                            <a href="/review/{{review.id}}" class="reviews-entry reviews-entry-declined">
                                {{review.votes_score}}
                            </a>
                        {%endif%}
                    {%endfor%}
                </div>
            </div>
            <div class="article-authors-wrapper">
                {% for user in article.rel_creators %}
                    <div class="author-wrapper">
                        <img class="author-profile-pic" src="{{config['PROFILE_IMAGE_URL']~user.get_id()~'.png' if user.has_photo else config['PROFILE_IMAGE_URL']~'img.png'}}"/>
                        <a class="author-name" href="{{url_for('profile_page', user_id=user.id)}}">{{user.first_name + " " + user.second_name}}</a>
                    </div>
                {% endfor %}
            </div>
            <div class="article-description-wrapper">
                <p class="article-description-text">{{article.description}}</p>
            </div>
            <div class="tags-wrapper">
                {% for tag in article.rel_related_tags %}
                    <a href="{{url_for('tag_page',tag_name=tag.name)}}">#{{tag.name}}</a>
                {%endfor%}
            </div>
        </div>
        <div class="article-frame-wrapper">
            <iframe class="article-view-iframe" src="{{article.pdf_url}}"></iframe>
        </div>
        <h3 class="comments-header">
            Comments
        </h3>
        <div class="comments-wrapper">
            {% for comment in article.rel_related_comments %}
            {% with author=comment.rel_creator %}
                {%if author in article.rel_creators %}
                <div class="comment comment-by-author" id="c{{comment.id}}">
                {%else%}
                <div class="comment comment-{{comment.creator_role}}" id="c{{comment.id}}">
                {%endif%}
                    <div class="comment-header-wrapper">
                        <div class="author-wrapper comment-author">
                            <img class="author-profile-pic" src="{{config['PROFILE_IMAGE_URL']~author.get_id()~'.png' if author.has_photo else config['PROFILE_IMAGE_URL']~'img.png'}}"/>
                            <div class="comment-answer-info">
                                <a style="font-size: 1.2rem;"class="author-name header-username" href="{{url_for('profile_page', user_id=author.get_id()|int)}}">{{author.first_name + " " + author.second_name}}</a>
                                {%if comment.comment_ref %}
                                    answering to <a href="#c{{comment.comment_ref}}">#c{{comment.comment_ref}}</a>
                                {%endif%}
                            </div>
                        </div>
                        <div class="filler">

                        </div>
                        <div class="comment-info-wrapper">
                            <div class="stats-element-wraper">
                                <a href="/login" class="linked-icon">
                                    <i class="fas fa-heart fa-center"></i>
                                    <p class="stat-value">{{comment.votes_score}}</p>
                                </a>
                            </div>
                        </div>
                    </div> 
                    <div class="comment-text-wrapper">
                        {{comment.text}}
                    </div>
                    <div>
                        <a href="#add-comment" class="reply-action">Reply</a>
                    </div>
                </div>
            {%endwith%}
            {%endfor%}
            {% if current_user.is_authenticated and current_user.can_comment() %}
            <div class="create-comment-wrapper" id="add-comment">
                <form method="POST">
                    {{form.hidden_tag()}}
                    {{form.comment_ref()}}
                    <!-- {{render_register_field(form.content, "Type your comment here...")}} -->
                    <div class="profile-edit-input-wrapper">
                        <div class="label-wrapper"> {{ form.content.label}}</div>
                        <div id="reply-info-wrapper" class="disabled">
                            <p id="reply-info"></p>
                            <button id="cancel-reply-button">Cancel</button>
                        </div>
                        <div class="input-wrapper"> {{ form.content(placeholder="Type your comment here...")|safe }}</div>
                        {% if form.content.errors %}
                            {% for error in form.content.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="buttons-wrapper">
                
                        {{ form.submit_comment(class="large-button main-button") }}
                
                    </div>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="similar-articles-column">
        <h3>Similar articles</h3>
        <ol>
            {% for result in similar%}
        
                {% with item=result%}
                    {% include 'search/article_item.html' %}
                {% endwith %}
            {%endfor%}
         </ol>
         <h3>Another versions</h3>
         <ol>
             {% for version in  article.rel_parent_paper.rel_related_versions %}
                <div>
                    {% if version.version == article.version %}
                        <p style="margin: 0">{{version.publication_date}}</p>
                    {%else%}
                        <a href="{{url_for('article', id=article.parent_paper, version=version.id)}}">{{version.publication_date}}</a>
                    {%endif%}
                </div>
             {% endfor %}
         </ol>
    </div>
</div>
{% endblock %}