{% extends 'base.html' %}
{% block content %}

<h1>About</h1>

<p>Researcher.community is an initiative which aims to
<ul>
<li>unite research in all branches and fields of science,
<li>make research results available to everyone for free,
<li>facilitate scientific progress,
<li>make the technical aspects of submitting, discussing and reviewing research papers easier,
<li>encourage the cooperation between all researchers,
<li>promote interdisciplinary research,
<li>be one system that connects and unites (cooperation) while discouraging fragmentation caused by competition,
<li>be continuously improved by the research community, evolving and adapting as needed.
</ul>
</p>

<p>Although this service was conceived by Maciej Komosinski, a researcher from Poznan University of Technology in Poland, it ultimately must be a community endeavor. If you are a researcher and you have any idea of how to improve this service, please join the community, get involved and let us know. Be a part of this initiative and share your skills for the benefit of all the researchers now and in the future. If possible, contribute a small amount of your time to help this system grow by telling your colleagues to participate (this is required for successful peer review), by suggesting improvements (there is a lot to improve!), or by supporting researcher.community financially (needed for the hardware infrastructure).</p>

<p>Ideally, the service should be financed by all the governments and public funds. For now it is entirely independent and relies on the support from people who believe that science should be freely accessible, and who want to accelerate the scientific progress of our civilization.</p>

<p>If you want to read more about the background and initial motivations to develop this system, there is a longer auto-translated text <a href="https://www-cs-put-poznan-pl.translate.goog/mkomosinski/site/?q=otwarta-nauka&_x_tr_sl=pl&_x_tr_tl=en&_x_tr_hl=pl">here</a>, but some finer points are lost in auto-translation.</p>

{% endblock %}
