<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/main.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/search_form.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="shortcut icon" href="{{ url_for('static', filename='res/favicon.png') }}">
    <style>
    </style>
    {% block styles %}
    {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/76299a18fd.js" crossorigin="anonymous"></script>
    <script>
        const delete_flash = (flash) => {
            $(flash).parent().remove();
        }
    </script>
    {{ moment.include_moment() }}
    
    {% block scripts %}
    {% endblock %}
    <title>Researcher.community</title>
</head>
<body>
    <div id="root">
        {% include 'header.html' %}


<main>
        <div id="content-wrapper">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
              <div class="message message-{{category}}">
                  <button type="button" class="message-button" data-dismiss="alert" aria-label="Close" onclick=delete_flash(this)>
                    <i class="fas fa-times fa-center"></i>
                  </button>
                  <p>{{ message }}</p>
              </div>
                {% endfor %}
            {% endif %}
        {% endwith %}


        {% block content %}
            <div class="sample-content">Content</div>
        {% endblock %}
        </div>
</main>

        {% include 'footer.html' %}
    </div>
</body>
</html>
