{% extends 'base.html' %}
{% block content %}


{% if  current_user.is_authenticated %}
{% set user_id = current_user.get_id() %}
{% else %}
{% set user_id = '0' %}
{% endif %}



<center>

{% if  current_user.is_authenticated %}
	<h3>This is the map of researchers in our community.</h3>
{% else %}
	<h3>This is the map of researchers in our community. Join us to be included!</h3>
{% endif %}
	
	<a href="{{url_for('main.users_plot_3d', id=user_id)}}" target="_blank">
		<img src="{{url_for('static', filename='res/users_plot.png')}}" title="Researchers, based on submitted/calibration papers. Click for a 3D version." style="width:90vw; max-height:90vh; max-width:90vh;" />
	</a>
	<p>(refreshed daily)</p>
</center>


{% endblock %}
