{% extends 'base.html' %}
{% block content %}

<h1>Privacy</h1>

<p>Researcher.community stores the following information about users who created an account: email address and name. The name appears publicly on your profile. The email address is not displayed unless you are indicated as one of the corresponding authors of some paper.</p>

<p>Other pieces of information are optional: affiliation, the address (URL) of your website, ORCID and Google scholar IDs, "about me" note, and photo. They will be displayed publicly on your profile page if you decide to provide such information.</p>

<p>You can delete your account anytime. All your posts will then be anonymized (your name will be replaced by a random ID like user12345). Revisions of the papers you submitted or co-authored will not be removed from the system – just like regular published papers, they will persist with unchanged URLs so they can be cited and discussed by the research community. If you want to delete your paper, you can mark it as withdrawn or add any remark or explanation, but the paper will remain publicly accessible.</p>


{% endblock %}
