{% extends 'base.html' %}


{% set api_users_url = url_for('api.get_users', _external=True)%}

{% block styles %}

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{% endblock %}


{% block content %}

<div>
    <h3>Edit {{tag.name}} tag members</h3>
</div>


<div class="">
  <form method="POST">
      {{ form.hidden_tag() }}
      {{ form.members }}

      <select class="js-data-example-ajax" id="selectUsers" style="width: 50%;"></select>
      <div id="added_users">
      </div>
      
      <div class="buttons-wrapper">

        {{ form.save(class="large-button main-button") }}
    
      </div>  


    </form>

</div>




<br>




<script>
  $(".js-data-example-ajax").select2({
    ajax: {
      url: "{{api_users_url}}",
   
      dataType: 'json',
      delay: 250,
      data: function(params) {
        return {
          q: params.term, // search term
          page: params.page || 1
        };
      },
      processResults: function(data, params) {
        params.page = params.page || 1;

        var data_formated = $.map(data.results, function (obj) {
          obj.text = obj.first_name +' '+ obj.second_name; // replace name with the property used for the text
          return obj;
        });
        return {
          results: data_formated,
          pagination: {
            more: data.pagination.more
          }
        };
      },
      cache: false
    },
    placeholder: 'Search for a users',
    minimumInputLength: 2,
    templateResult: formatResult
  });
  
  function formatResult(result) {

    var $container = $(
    "<div class='select2-result-repository clearfix'>" +
      "<div class='select2-result-repository__avatar'><img src='" + result.profile_img_url + "' style='height: 3vw;'/></div>" +
      "<div class='select2-result-repository__meta'>" +
        "<div class='select2-result-repository__title'></div>" +
        "<div class='select2-result-repository__description'></div>" +
      "</div>" +
    "</div>"
  );

  $container.find(".select2-result-repository__title").text(result.text);
  $container.find(".select2-result-repository__description").text(result.affiliation);

  return $container;

  };

  function createNewUserRow(user, row_id, formEditor, tagCreatorId){

    return `<div id="${row_id}">`+
           `<input id="user-input-${row_id}" type="hidden" value='${user.id}'>`+
           `<img src='${user.profile_img_url}' style='height: 3vw;'/>`+
            `<a href='${user.profile_url}' target="_blank">${user.first_name} ${user.second_name}</a>`+
             " "+
            `${user.affiliation}`+
             " "+
            `<input id="can-appoint-checkbox-${row_id}" type="checkbox" ${(user.can_appoint) ? 'checked':''} ${((!formEditor.canAppoint) || (user.id==formEditor.id) || (user.appointer_id!=formEditor.id))&&(tagCreatorId!=formEditor.id) ? 'disabled':''}></input><label>Can appoint</label>`+
            " "+
            `<input id="can-edit-checkbox-${row_id}" type="checkbox" ${(user.can_edit) ? 'checked':''} ${((!formEditor.canEdit) || (user.id==formEditor.id) || (user.appointer_id!=formEditor.id))&&(tagCreatorId!=formEditor.id) ? 'disabled':''}></input><label>Can edit</label>`+
              `${ tagCreatorId==formEditor.id ? `<a href="javascript:void(0);" class="remove-input" title="Remove input"><img src={{url_for('static', filename='res/del.png')}}/></a></div>`: ''}`;
  }

  $(document).ready(function(){
  
    let idCounter = 0;
    var membersWrapper = $('#added_users');
    var addInputCount = 0; 
  
    var users_ids = new Set();

    const tag_members = {{tag_members|tojson}};

    const formEditor = {
      canAppoint : {{form.can_appoint|int}},
      canEdit : {{form.can_edit|int}},
      id : {{current_user.get_id()}}
    };

    const tagCreatorId=  {{tag.creator}};

    const addMember = (user) => {
      users_ids.add(user.id);
      $("#added_users").append(createNewUserRow(user, idCounter, formEditor, tagCreatorId));
      addInputCount+=1;
      idCounter+=1;
    }

    tag_members.map((m) => addMember(m));

    $(membersWrapper).on('click', '.remove-input', function(e){
        e.preventDefault();
        const userId = $(this).siblings('input').first().val();
        $(this).parent('div').remove();
        addInputCount--;
        users_ids.delete(parseInt(userId, 10));
    });

    $('#selectUsers').on('select2:select', function (e) {
      var user = e.params.data;
      if( users_ids.has(user.id)){
          alert("User is already added");
      }
      else{
          user.appointer_id = formEditor.id;
          addMember(user);
      }

      $('#selectUsers').val(null).trigger('change');
    });

    $( "#save" ).on('click', function(e) {
      e.stopPropagation();
      const membersArray = [];
      for(i = 0; i < idCounter; i++){
        const userId = $(`#user-input-${i}`).val();
        const canAppoint = $(`#can-appoint-checkbox-${i}`).is(":checked");
        const canEdit = $(`#can-edit-checkbox-${i}`).is(":checked");
        
        if(userId){
          membersArray.push({user_id: parseInt(userId,10),
                             can_appoint: canAppoint,
                             can_edit: canEdit});
        }
      }
      $("#members").val(JSON.stringify(membersArray));
    });


    });






</script>




{% endblock %}

