{% from "helpers/form_helper.html" import render_tag_creation_field %}


{% extends 'base.html' %}
{% block content %}

        
<div>
    <h3>Edit tag {{tag_name}}</h3>
    <div>Tags are used to define conferences or any events with deadlines.</div>
</div>

<div class="profile-edit-wrapper">
    <form method="POST">
        {{ form.hidden_tag() }}

        {{render_tag_creation_field(form.name,"Tag name")}}
        {{render_tag_creation_field(form.description,"Description")}} 
            
        <br><br>

        <div class="buttons-wrapper">
            {{ form.submit(class="large-button main-button")}}
        </div>  
    </form>
</div>

{% endblock %}