{% extends 'base.html' %}
{% block content %}

<div>
    <h2>{{tag.name}}</h2>


    {% set creator = tag.rel_creator %}

    <div>
        Creator: 
        <a href="{{url_for('profile_page',user_id=creator.id)}}"> {{creator.first_name}} {{creator.second_name}} </a>
    </div>

    <br>

    <div>
        Deadline: {{moment(tag.deadline).format('LLLL') if tag.deadline else 'Not set'}}
    </div>

    <br>

    <h3>Description:</h3>
    <div>
        {{tag.description}}
    </div>

    {% set related_papers = tag.rel_related_paper_revisions %}

    {% if related_papers is defined  %}
        
        <h3>Related papers:</h3>
        <ul>
            {% for paper in related_papers  %}
                <li>
                    <a href="{{url_for('article',id=paper.id)}}">{{ paper.title}} </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}


    {% set related_users = tag.rel_users_with_this_tag %}

    {% if related_users is defined  %}
        
        <h3>Related users:</h3>
        <ul>
            {% for user in related_users  %}
                <li>
                    <a href="{{url_for('profile_page',user_id=user.id)}}">{{ user.first_name}} {{ user.second_name}} </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

</div>

{% endblock %}