{% extends 'base.html' %}
{% block content %}

<div>
    <h2>{{tag.name}}</h2>

    <div>
        Deadline: {{tag.deadline}}
    </div>

    <br>

    <h3>Description:</h3>
    <div>
        {{tag.description}}
    </div>

    {% set related_papers = tag.rel_related_paper_revisions %}

    {% if related_papers is defined  %}
        
        <h3>Related papers:</h3>
        <ul>
            {% for paper in related_papers  %}
                <li>
                    <a href="{{url_for('article',id=paper.id)}}">{{ paper.title}} </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

</div>

{% endblock %}